<a href="https://colab.research.google.com/github/Gideon18-web/phythondictminitasks/blob/main/Mini_lists.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [62]:
# 1. Create a list of your 8 foods and store it in a variable called foods.
# pizza cake banana kales pizza chicken beef

foods = ["pizza", "cake", "banana", "kales", "pizza", "chicken", "beef", "ugali"]

In [63]:
# 1.1. Print the first and last item in the foods list.
print(foods[0])
print(foods[-1])

pizza
ugali

In [64]:
# 1.2. Replace the third item in the list with another food.
foods[2] = "fish"
print(foods)

['pizza', 'cake', 'fish', 'kales', 'pizza', 'chicken', 'beef', 'ugali']

In [65]:
# 1.3. Add a new food to the end of the list using .append().

foods.append("rice")
print(foods)

['pizza', 'cake', 'fish', 'kales', 'pizza', 'chicken', 'beef', 'ugali', 'rice']

In [66]:
# 1.4. Remove one food from the list using .remove().
foods.remove("chicken")
print(foods)

['pizza', 'cake', 'fish', 'kales', 'pizza', 'beef', 'ugali', 'rice']

In [67]:
# 1.5. Use a for loop to print each item in the list on a new line.
for food in foods:
  print(food)

pizza
cake
fish
kales
pizza
beef
ugali
rice

In [68]:
# 1.6. Use a loop to print only the foods that start with the letter "a".
for food in foods:
  if food.startswith("a"):
    print(food)
  else:
    print("No food starts with a")
    break

No food starts with a

In [69]:
# 1.7. Count how many times "pizza" appears in the list.

foods.count("pizza")

2

In [83]:
# 1.8. Print the second to fourth items using slicing.
# Remember that slicing is getting a range of values using the square brackets and index

print(foods[1:4])

['cake', 'fish', 'kales']

In [84]:
# 1.9. Print the list in reverse using slicing.
print(foods[::-1])

['rice', 'ugali', 'beef', 'pizza', 'kales', 'fish', 'cake', 'pizza']

In [86]:
# 2. Create a list of numbers: 5 2 9 1 7
numbers = [5, 2, 9, 1, 7]
numbers

[5, 2, 9, 1, 7]

In [87]:
# 2.1 Use the following functions:
# sum() to calculate total
# max() to find the highest
# min() to find the smallest

print(sum(numbers))
print(max(numbers))
print(min(numbers))

24
9
1

In [88]:
# 2.2. Sort the list in ascending and descending order using .sort() and .reverse().
numbers.sort()
print(numbers)
numbers.reverse()
print(numbers)

[1, 2, 5, 7, 9]
[9, 7, 5, 2, 1]

In [89]:
# 2.3. Use .insert() to add the number 10 at index 2.
numbers.insert(2, 10)
print(numbers)

[9, 7, 10, 5, 2, 1]

In [90]:
# 3. Create the nested list of students below and their scores:
# then print each student's name and score using a loop.
students = [["Alice", 85], ["Bob", 78], ["Charlie", 92]]
for student in students:
  print(student[0],student[1])

Alice 85
Bob 78
Charlie 92

In [94]:
# 3.1. Find the student with the highest score
highest_score = 0
for student in students:
  if student[1] > highest_score:
    highest_score = student[1]
    highest_student = student[0]
print(highest_student)

Charlie

In [96]:
# 4. Write a function that asks the user to enter 5 numbers and stores them in a list.
def get_numbers():
    numbers = []
    for i in range(5):
        num = int(input(f"Enter number {i + 1}: "))
        numbers.append(num)
    return numbers
user_numbers = get_numbers()
print("You entered:", user_numbers)

Enter number 1: 23
Enter number 2: 8
Enter number 3: 89
Enter number 4: 24
Enter number 5: 33
You entered: [23, 8, 89, 24, 33]

In [100]:
# 4.1. Write a function that removes all even numbers from the list provided by the user.
def remove_even_numbers(numbers):
    return [num for num in numbers if num % 2 != 0]
get_numbers()
print(remove_even_numbers(user_numbers))

Enter number 1: 67
Enter number 2: 98
Enter number 3: 45
Enter number 4: 21
Enter number 5: 80
[23, 89, 33]

In [101]:
# 5. Merge two lists:
list1 = [1, 2, 3]
list2 = [4, 5, 6]
combined_list = list1 + list2
print(combined_list)

[1, 2, 3, 4, 5, 6]

In [103]:
# 6. Ask the user to input student names until they type "stop". Store all names in a list and print it at the end.
names = []
while True:
    name = input("Enter a student name (type 'stop' to finish): ")
    if name == "stop":
        break
    names.append(name)
print("Student names:", names)

Enter a student name (type 'stop' to finish): Sally
Enter a student name (type 'stop' to finish): Daniel
Enter a student name (type 'stop' to finish): Rose
Enter a student name (type 'stop' to finish): Nikita
Enter a student name (type 'stop' to finish): Dei Dei
Enter a student name (type 'stop' to finish): Mello
Enter a student name (type 'stop' to finish): stop
Student names: ['Sally', 'Daniel', 'Rose', 'Nikita', 'Dei Dei', 'Mello']

In [105]:
# 6.1. From the list of names, print only those that are longer than 5 characters.
for name in names:
  if len(name) > 5:
    print(name)

Daniel
Nikita
Dei Dei