<a href="https://colab.research.google.com/github/Gideon18-web/phythondictminitasks/blob/main/Mini_loops.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# 1. Print numbers from 1 to 10
# Output:
# 1
# 2
# ...
# 10

counter = 1
while counter <= 10:
    print(counter)
    counter = counter + 1

1
2
3
4
5
6
7
8
9
10

In [2]:
# 2. Print even numbers between 1 and 20
# Output:
# 2, 4, 6, ..., 20
# 3. Print the square of numbers from 1 to 5
# Output:
# 1 4 9 16 25

numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9 ,10, 11, 12, 13, 14, 15, 16, 17,18,19,20]
for number in numbers:
  if number % 2 == 0:
    print(number)

print("\n\n")
numbers = [1, 2, 3, 4, 5]
for number in numbers:
  print(number * number)

2
4
6
8
10
12
14
16
18
20



1
4
9
16
25

In [3]:
# 4. Print each character in the word "Python"
# Output:
# P
# y
# t
# h
# o
# n

python = "Python"
for char in python:
    print(char)

P
y
t
h
o
n

In [5]:
# 5. Loop through this list and print names:
names = ["Alice", "Bob", "Charlie"]
for name in names:
  print(name)

Alice
Bob
Charlie

In [6]:
# 6. Print numbers from 5 to 1
# Output:
# 5
# 4
# 3
# 2
# 1

numbers = [5, 4, 3, 2, 1]
for number in numbers:
    print(number)

5
4
3
2
1

In [8]:
# 7. Keep asking the user to enter a password until they type "secret"
# Output:
# Try again... until correct

password = input("Enter your password:")
while password != "secret":
    print("Try again...")
    password = input("Enter your password:")
print("Correct!")

Enter your password:secrrret
Try again...
Enter your password:secret
Correct!

In [9]:
# 8. Ask the user to enter numbers until they enter 0. Then print the sum.
# Input:
# 5
# 3
# 0
# Output:
# Total: 8

total = 0
number = int(input("Enter a number: "))
while number != 0:
    total += number
    number = int(input("Enter a number: "))
print("Total:", total)

Enter a number: 5
Enter a number: 3
Enter a number: 0
Total: 8

In [10]:
# 9. Print all numbers from 1 to 20 that are divisible by 3
# Output:
# 3 6 9 12 15 18

counter = 20
while counter > 0:
    if counter % 3 == 0:
        print(counter)
    counter -= 1

18
15
12
9
6
3

In [11]:
# 10. From this list, print only the odd numbers:
numbers = [4, 7, 10, 13, 16, 19]
for number in numbers:
    if number % 2 != 0:
        print(number)

7
13
19

In [16]:
# 11. Count how many times "apple" appears in the list:
fruits = ["apple", "banana", "apple", "cherry", "apple"]
for fruit in fruits:
    if fruit == "apple":
      print("Apple appears", fruits.count("apple"), "times")
      break

Apple appears 3 times

In [17]:
# 12. Use a loop to reverse a string:
# Input:
# "hello"
# Output:
# "olleh"

name = "hello"
reversed_name = ""
for char in name:
    reversed_name = char + reversed_name
print(reversed_name)

olleh

In [18]:
# 13. Print a simple triangle of stars:
# Output:
# *
# **
# ***
# ****
# *****

counter = 1
while counter <= 5:
    print("*" * counter)
    counter += 1

*
**
***
****
*****

In [20]:
# 14. Use a loop to calculate the factorial of a number:
# Input:
# 5
# Output:
# 120

numb_er = int(input("Enter a number: "))
factorial = 1
for i in range(1, numb_er + 1):
    factorial *= i
print("The factorial of", numb_er, "is", factorial)

Enter a number: 5
The factorial of 5 is 120

In [21]:
# 15. Loop from 1 to 100 and:
# Print "Hit" if divisible by 3
# Print "Miss" if divisible by 5
# Print "Jackpot" if divisible by both

for i in range(1, 101):
    if i % 3 == 0 and i % 5 == 0:
        print("Jackpot")
        continue
    if i % 3 == 0:
        print("Hit")
        continue
    if i % 5 == 0:
        print("Miss")
        continue
    print(i)

1
2
Hit
4
Miss
Hit
7
8
Hit
Miss
11
Hit
13
14
Jackpot
16
17
Hit
19
Miss
Hit
22
23
Hit
Miss
26
Hit
28
29
Jackpot
31
32
Hit
34
Miss
Hit
37
38
Hit
Miss
41
Hit
43
44
Jackpot
46
47
Hit
49
Miss
Hit
52
53
Hit
Miss
56
Hit
58
59
Jackpot
61
62
Hit
64
Miss
Hit
67
68
Hit
Miss
71
Hit
73
74
Jackpot
76
77
Hit
79
Miss
Hit
82
83
Hit
Miss
86
Hit
88
89
Jackpot
91
92
Hit
94
Miss
Hit
97
98
Hit
Miss

In [22]:
# 16. Ask the user how many students are in a class. Then loop to enter each studentâ€™s name and save them to a list. Finally, print the list of students.

no_of_students = int(input("How many students are in the class? "))
student_list = []
while no_of_students > 0:
    student_name = input("Enter the name of the student: ")
    student_list.append(student_name)
    no_of_students = no_of_students - 1
print(student_list)

How many students are in the class? 3
Enter the name of the student: Zam Z
Enter the name of the student: Kci
Enter the name of the student: Bravo
['Zam Z', 'Kci', 'Bravo']

In [24]:
#alt code for #15
# 15. Loop from 1 to 100 and:
# Print "Hit" if divisible by 3
# Print "Miss" if divisible by 5
# Print "Jackpot" if divisible by both

for i in range(1, 101):
    if i % 3 == 0 and i % 5 == 0:
        print(i, "Jackpot")
    elif i % 3 == 0:
        print(i, "Hit")
    elif i % 5 == 0:
        print(i, "Miss")

3 Hit
5 Miss
6 Hit
9 Hit
10 Miss
12 Hit
15 Jackpot
18 Hit
20 Miss
21 Hit
24 Hit
25 Miss
27 Hit
30 Jackpot
33 Hit
35 Miss
36 Hit
39 Hit
40 Miss
42 Hit
45 Jackpot
48 Hit
50 Miss
51 Hit
54 Hit
55 Miss
57 Hit
60 Jackpot
63 Hit
65 Miss
66 Hit
69 Hit
70 Miss
72 Hit
75 Jackpot
78 Hit
80 Miss
81 Hit
84 Hit
85 Miss
87 Hit
90 Jackpot
93 Hit
95 Miss
96 Hit
99 Hit
100 Miss