<a href="https://colab.research.google.com/github/Gideon18-web/phythondictminitasks/blob/main/python_dict_mini_tasks.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>


 1. Create a dictionary called student with:
# Keys: "name", "age", "grade"
# Values: "Alice", 14, "B"

In [12]:
student = {
    "name": "Alice",
    "age": 14,
    "grade": "B"
}
print(student)
print(student["name"])
print(student["age"])
print(student["grade"])

print("\n")
#alternate code
name = input("Enter your name: ")
age = int(input("Enter your age: "))
grade = input("Enter your grade: ")
student["name"] = name
student["age"] = age
student["grade"] = grade
print(student)

{'name': 'Alice', 'age': 14, 'grade': 'B'}
Alice
14
B


Enter your name: Alice
Enter your age: 14
Enter your grade: B
{'name': 'Alice', 'age': 14, 'grade': 'B'}

In [13]:
# 1.3. Add a new key called "school" with the value "Greenwood High".
student["school"] = "Greenwood High"
print(student)

{'name': 'Alice', 'age': 14, 'grade': 'B', 'school': 'Greenwood High'}

In [14]:
student["grade"] = "A"
print(student)

{'name': 'Alice', 'age': 14, 'grade': 'A', 'school': 'Greenwood High'}

In [15]:
# 1.4. Delete the "age" key from the dictionary
del student["age"]
print(student)

#could also use student.pop()

{'name': 'Alice', 'grade': 'A', 'school': 'Greenwood High'}

In [19]:
# 2. Loop through the following dictionary and print each key and value:
person = {"name": "Bob", "age": 30, "city": "Nairobi"}

In [ ]:
for key, value in person.items():
    print(f"{key}: {value}")

name: Bob
age: 30
city: Nairobi

In [ ]:
# 2.1. Loop through and print only the keys from the dictionary above.
for key in person.keys():
    print(key)

name
age
city

In [ ]:
#2.2. Loop through and print only the values.
for value in person.values():
  print(value)

Bob
30
Nairobi

In [34]:
# 2.3. Use .get() to retrieve the value of a key called "email" from person. If it doesnâ€™t exist, return "Not provided".

email = person.get("email", "Not provided")
print(email)

Not provided

In [20]:
# 2.4. Check if the key "city" exists in the dictionary.
if "city" in person.keys():
  print("city exists")
else:
  print("city does not exist")

city exists

In [ ]:
# 2.5. Use .update() to add or modify multiple values:
# Update "city" to "Mombasa" and add "email": "bob@example.com"

person.update({"city": "Mombasa", "email": "bob@example.com"})
print(person)

{'name': 'Bob', 'age': 30, 'city': 'Mombasa', 'email': 'bob@example.com'}

In [21]:
# 3. Create a list of 3 students, each represented as a dictionary:
# Each dictionary should have keys: "name", "age", "grade"

students_list = [
    {"name": "Gideon", "age": 14, "grade": "B", "marks": 78},
    {"name": "Nikita", "age": 15, "grade": "A", "marks": 90},
    {"name": "Charlie", "age": 16, "grade": "C+", "marks": 68},
]

In [22]:

# 3.1. Loop through the list and print the name and grade of each student.

for student in students_list:
  print(f"{student['name']}, {student['grade']}, {student['marks']}")

Gideon, B, 78
Nikita, A, 90
Charlie, C+, 68

In [24]:
# 3.2. Write a loop to calculate the average grade (assuming grades are numbers).

total_grade = 0
for student in students_list:
  total_grade = int(student["marks"]) + total_grade
  avg_grade = total_grade / len(students_list)
  print(avg_grade)

26.0
56.0
78.66666666666667

In [28]:

# 5. Build a simple phonebook:
# Ask the user to enter names and phone numbers
# Store them in a dictionary
# Allow the user to look up numbers by name

# Initialize an empty dictionary to store contacts
phonebook = {}

while True:
    print("\nPhonebook Menu")
    print("1. Add a contact")
    print("2. Look up a number")
    print("3. Exit")

    choice = input("Enter your choice (1/2/3): ")

    if choice == "1":
        name = input("Enter contact name: ")
        phone = input("Enter phone number: ")
        phonebook[name] = phone
        print(f"{name} has been added to the phonebook.")

    elif choice == "2":
        name = input("Enter the name to look up: ")
        if name in phonebook:
            print(f"{name}'s number is {phonebook[name]}")
        else:
            print(f"{name} is not found in the phonebook.")

    elif choice == "3":
        print("Exiting phonebook. Goodbye!")
        break

    else:
        print("Invalid choice. Please select 1, 2, or 3.")

Phonebook Menu
1. Add a contact
2. Look up a number
3. Exit
Enter your choice (1/2/3): 1
Enter contact name: Dei Dei
Enter phone number: 0789564321
Dei Dei has been added to the phonebook.

Phonebook Menu
1. Add a contact
2. Look up a number
3. Exit
Enter your choice (1/2/3): 1
Enter contact name: Gideon M
Enter phone number: 0765432189
Gideon M has been added to the phonebook.

Phonebook Menu
1. Add a contact
2. Look up a number
3. Exit
Enter your choice (1/2/3): 2
Enter the name to look up: Dei Dei
Dei Dei's number is 0789564321

Phonebook Menu
1. Add a contact
2. Look up a number
3. Exit
Enter your choice (1/2/3): 3
Exiting phonebook. Goodbye!

In [29]:
#improved version of the phonebook
#Initialize an empty dictionary to store contacts
phonebook = {}

while True:
    print("\nPhonebook Menu")
    print("1. Add a contact")
    print("2. Look up a number")
    print("3. Exit")

    choice = input("Enter your choice (1/2/3): ")

    if choice == "1":
        name = input("Enter contact name: ").strip()
        phone = input("Enter phone number: ").strip()
        phonebook[name] = phone
        print(f"{name} has been added to the phonebook.")

    elif choice == "2":
        search = input("Enter the name (or part of it) to look up: ").strip().lower()
        found = False
        for name, phone in phonebook.items():
            if search in name.lower():
                print(f"{name}'s number is {phone}")
                found = True
        if not found:
            print("No matching contact found.")

    elif choice == "3":
        print("Exiting phonebook. Goodbye!")
        break

    else:
        print("Invalid choice. Please select 1, 2, or 3.")

Phonebook Menu
1. Add a contact
2. Look up a number
3. Exit
Enter your choice (1/2/3): 1
Enter contact name: Deon M
Enter phone number: 0723415678
Deon M has been added to the phonebook.

Phonebook Menu
1. Add a contact
2. Look up a number
3. Exit
Enter your choice (1/2/3): 1
Enter contact name: JJ
Enter phone number: 0768453219
JJ has been added to the phonebook.

Phonebook Menu
1. Add a contact
2. Look up a number
3. Exit
Enter your choice (1/2/3): 2
Enter the name (or part of it) to look up: deo
Deon M's number is 0723415678

Phonebook Menu
1. Add a contact
2. Look up a number
3. Exit
Enter your choice (1/2/3): 3
Exiting phonebook. Goodbye!

In [25]:
# 4. Create a dictionary to count how many times each word appears in this list:
# Output should be:
# {"apple": 3, "banana": 2, "cherry": 1}
words = ["apple", "banana", "apple", "cherry", "banana", "apple"]

word_count = {}

for word in words:
  if word in word_count:
    word_count[word] += 1
  else:
    word_count[word] = 1

print(word_count)

{'apple': 3, 'banana': 2, 'cherry': 1}